<div>
	<div class="jumbotron">
		<h1>
			<img src="logo.svg" style="width:60px;height:60px" />
			BenchX
		</h1>
		<p>
			This application times the execution of <a href="#/suite" ><i class="glyphicon glyphicon-expand"> </i> suites</a>
			of XQuery queries. It also manages a <a href="#/library" ><i
						class="glyphicon glyphicon-book"></i> library</a>
	        of the results comparing the relative performance across different <a href="#/environment"><i
                                class="glyphicon glyphicon-globe"></i> environments</a> 
			for the <a href="http://basex.org" target="_blank" class="brand">BaseX</a> XML database.
		</p>

	</div>
	<ul>
	<li>Press <span class="label label-default">?</span> to see keyboard shortcuts
        </li>
		<li>BenchX requires internet access (for CDN and Google
			chart).
		</li>
		<li>BenchX is not designed for multiple session use.</li>
		<li>
			BenchX source on
			<a href="https://github.com/Quodatum/BenchX" target="_blank">Github</a>
		</li>
		<li>
			Stopwatch icon from
			<a href="http://simpleicon.com/stopwatch-1.html" target="_blank">SimpleIcon
			</a>
		</li>

	</ul>

</div>