<div class="row">
	<div class="col-md-6">
		
		<div class="panel  panel-info panel-body ">
            <div class="panel-heading">
                <h3 class="panel-title">State</h3>
            </div>
            <div class="panel-body table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>SessionId:</td>
                            <td>{{state.session}}</td>
                        </tr>
                        <tr>
                            <td>Hostname:</td>
                            <td>{{state.hostname}}</td>
                        </tr>
                         <tr>
                            <td>ServerId:</td>
                            <td>{{state.id}}</td>
                        </tr>
                        <tr>
                            <td>Server desc:</td>
                            <td>{{state.description}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
	</div>
	<div class="panel  panel-info panel-body col-md-4">
		<div class="panel-heading">
			<h3 class="panel-title">Environment</h3>
		</div>
		<div class="panel-body table-responsive">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Name</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(name,value) in environment">
						<td>{{name}}</td>
						<td>{{value}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>