<nav class="navbar navbar-default  navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle"
				ng-init="navCollapsed = true"
				ng-click="navCollapsed = !navCollapsed">
				<span class="sr-only">Toggle navigation</span> <span
					class="icon-bar"></span> <span class="icon-bar"></span> <span
					class="icon-bar"></span>
			</button>
			<a class="navbar-brand brand" href="/benchx"> <img
				src="logo.svg"
				style="width: 20px; height: 20px; vertical-align: top;" /> BenchX
			</a>
		</div>
		<div class="collapse navbar-collapse" ng-class="{'in':!navCollapsed}">
			<ul class="nav navbar-nav">
			<li class="dropdown" dropdown="dropdown" ><a href="#" class="dropdown-toggle"
                    data-toggle="dropdown" dropdown-toggle="dropdown-toggle"> View <b class="caret"></b>
                </a>
                    <ul class="dropdown-menu">
                       
				<li><a href="#/suite" title="Suites"> <i
						class="glyphicon glyphicon-expand"></i> Suites
				</a></li>
				 <li><a href="#/environment" tabindex="-1"> <i
                                class="glyphicon glyphicon-globe"></i> Environments
                        </a></li>
				<li><a href="#/library" title="Timings"> <i
						class="glyphicon glyphicon-book"></i> Library
				</a></li>
				</ul>
				</li>
				<li>
					<p class="navbar-text " 
						title="state Active suite={{activesuite}}, Mode={{state.mode}}, Factor={{state.factor}} ({{state.size}}).">
						<span class="label  label-success">{{state.mode}}</span>
						<span class="label  label-info">{{state.factor}}</span>
						<span class="label  label-default">{{activesuite}}</span> 
					</p>
				</li>
			</ul>

			<p class="navbar-text bg-success logmsg ">
				<a href="#/log" title="Log messages"> <i
					class="glyphicon glyphicon-calendar"></i> {{logmsg}}
				</a>

			</p>
			<ul class="nav navbar-nav navbar-right">

				<li>
					<button class="btn  btn-sm navbar-btn " ng-click="tasks.q.kill()"
						ng-class="{'btn-warning':tasks.q.length()}"
						title="Queued tasks, click to stop">
						<div style="width: 3em">
							<i class="glyphicon glyphicon-tasks"></i> {{tasks.q.length()}}
						</div>
					</button>
				</li>
				<li>

					<p class="navbar-text label"
						ng-class="{'bg-danger':1&gt;state.sessions}" style="width: 3em"
						title="Session count">
						<i class="glyphicon glyphicon-user"></i> {{state.sessions}}
					</p>
				</li>
				<li class="dropdown" dropdown="dropdown" ><a href="#" class="dropdown-toggle"
					data-toggle="dropdown" dropdown-toggle="dropdown-toggle"> About <b class="caret"></b>
				</a>
					<ul class="dropdown-menu">
						<li><a href="#/thisenv" tabindex="-1"> <i
								class="glyphicon glyphicon-picture"></i> Environment
						</a></li>
						<li><a href="#/doc/wadl" target="docs" tabindex="-1"> <i
								class="glyphicon glyphicon-eye-open"></i> Documentation
						</a></li>

						<li class="divider"></li>
						<li><a href="#/about" tabindex="-1"> <i
								class="glyphicon glyphicon-info-sign"></i> About BenchX
						</a></li>
					</ul></li>
			</ul>

		</div>
	</div>
</nav>