<div >
	<div class="row form-group" role="navigation">
		<ol class="breadcrumb navbar-left qcrumb">
			<li><a href="#/about" title="home"> <i
					class="glyphicon glyphicon-home"></i>
			</a></li>
			<li class="active">library</li>
		</ol>
		<strong> Action:</strong>
		<div class="btn-group btn-group-sm">
		<a class="btn btn-default btn-sm" target="benchx-xsd" href="benchmark.xsd">
				<i class="glyphicon glyphicon-save"></i> Schema (xsd)
			</a>
		</div>
		</div>
		
		<div class="row">
			<div class="col-md-8">
				<table class="table table-condensed table-striped table-bordered ">
					<thead>
						<th>Title</th>
						<th>Suite</th>
						<th>BaseX</th>
						<th>Java</th>
						<th>OS</th>
						<th>Hostname</th>
						<th>OS Arch</th>
						<th>Created</th>
						<th>Runs</th>
					</thead>
					<tbody>
						<tr ng-repeat="doc in docs">
							<td><a href="#/library/item/{{doc.id}}">{{doc.description}}</a></td>
							<td><a href="#/suite/{{doc.suite}}">{{doc.suite}}</a></td>
							<td>{{doc["basex.version"]}}</td>
							<td>{{doc["java.version"]}}</td>
							<td>{{doc["os.name"]}}</td>
							<td>{{doc.hostname}}</td>
							<td>{{doc["os.arch"]}}</td>
							<td am-time-ago="doc.created" title="{{doc.created}}"></td>
							<td>{{doc["runs"]}}</td>
						</tr>
					</tbody>
				</table>

			</div>
			<div class="panel  panel-info panel-body col-md-2">
				<div class="panel-heading">
					<h3 class="panel-title">Filter (@TODO)</h3>
				</div>
				<div class="panel-body table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th>Name</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="e in envs">
								<td>{{e.name}}</td>
								<td>{{e.value}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>